/* 
No scrolling, no margins and entire viewport height
Global CSS elements
*/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    writing-mode: horizontal-tb;
    font-size: 4rem;
    text-shadow: 3px 3px 3px orange;
    color: rgb(221, 210, 210);
}

.text {
    font-family: 'Bebas Neue', sans-serif;
    writing-mode: horizontal-tb;
    font-size: 2rem;
    text-shadow: 3px 3px 3px orange;
    color: black;
}

.textLight {
    font-family: 'Bebas Neue', sans-serif;
    writing-mode: horizontal-tb;
    font-size: 2rem;
    text-shadow: 3px 3px 3px orange;
    color: white;
}

.textWhite {
    color: white;
}

.images {
    justify-content: center;
    flex-direction: row;
}

ul {
    list-style: none;
}

.background {
    background: linear-gradient(rgb(37, 35, 35), rgb(81, 77, 77), rgb(37, 35, 35));
}

.padding {
    padding: 5%;
}


/* Tailwind css alternative lol */
.justify-center {
    display: flex;
    justify-content: center;
}

/* Header */
.flexHeader {
    height: auto;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 35, 35);
}

/* Nav */
.navBar {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    column-gap: 8em;
}

/* Footer */
.flexFooter {
    height: 10vh;
    border: solid;
    border-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 35, 35);
}

.footerFontColor {
    color: rgb(221, 210, 210);
}

.footerText {
    font-family: 'Bebas Neue', sans-serif;
    writing-mode: horizontal-tb;
    font-size: 2rem;
    text-shadow: 3px 3px 3px orange;
    color: rgb(221, 210, 210);
}

/* Grid container for index.html */
.gridContainer1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 70vh;
}

/* Boxes for index.html */
.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/a5/de/2f/a5de2f357d8adae1ca8ac843d0d15f7b.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.wallpapersden.com/image/download/anime-chainsaw-man-hd-denji-fanart_bWxuaWuUmZqaraWkpJRmZWdprWpnZQ.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://theawesomer.com/photos/2025/10/chainsaw_man_movie_reze_arc_t.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

/* Pseudo hover effects */
.box1:hover {
    opacity: 1;
}

.box2:hover {
    opacity: 1;
}

.box3:hover {
    opacity: 1;
}

/* Layout all the character cards on characters.html*/
.characterCardLayout {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding: 2em;
}

/* Character card layout */
.characterCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    border-color: black;
    box-shadow: 5px 5px 10px white;
}

/* h2 border on card */
.border {
    border-style: solid;
    border-left: black;
    border-right: black;
    width: 100%;
}

/* Card image config */
.characterCardImg {
    max-height: 250px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* timeline.html list style swapped with bullets */
.arcList {
    list-style: none;
}

/* timeline.html image resizing */
.imgResize {
    max-height: 200px;
    object-fit: contain;
}

.timelineList {
    border-bottom: solid;
    padding: 5%;
}

/* Lore Text Layout */
.loreLayout {
    margin-inline: 15%;
}

/* Timeline Text Layout */
.timelineLayout {
    margin-inline: 15%;
}