/* font-family: 'Bebas Neue', sans-serif; */

body {
    overflow: hidden;
}

.navSpace {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}

.h1Space {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.images {
    justify-content: center;
    flex-direction: row;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    border-block: solid;
    writing-mode: horizontal-tb;
}

